/* give your page a fun background color */
body {
  background-color: LightSteelBlue;
}
/* give your header and footer another background color */
footer {
  background-color: SlateBlue;
  font-family: Georgia, Times, "Times New Roman", serif;
}
header {
  background-color: Indigo;
  font-family: Georgia, Times, "Times New Roman", serif;
}
ul{
  list-style-type: none;
}
p{
  font-style: italic;
  color: MidnightBlue;

}

/* define the font for your header */

/* remove the bullets from your unordered list */

/* make your paragraph italic and a color that is not black */
